---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kubevirt.io
  resources:
  - virtualmachineinstances
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - kubevirt.io
  resources:
  - virtualmachines
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - llmcloud.llmcloud.io
  resources:
  - llmmodels
  - projects
  - services
  - users
  - virtualmachines
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - llmcloud.llmcloud.io
  resources:
  - llmmodels/finalizers
  - projects/finalizers
  - services/finalizers
  - users/finalizers
  - virtualmachines/finalizers
  verbs:
  - update
- apiGroups:
  - llmcloud.llmcloud.io
  resources:
  - llmmodels/status
  - projects/status
  - services/status
  - users/status
  - virtualmachines/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  - roles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
