name: CI

on:
  push:
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Setup
        run: |
          go mod tidy
          make tools

      - name: Lint
        run: make lint

      - name: Test
        run: make test

      - uses: codecov/codecov-action@v4
        with:
          files: ./cover.out
          fail_ci_if_error: false

